<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Esqueci minha senha</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style>
        .error-message{
            color: red;
        }
    </style>
</head>
<body>
<h1>Recuperação de senha</h1>
<div th:if="${message}" class="alert alert-info" th:text="${message}"></div>
<form th:action="@{/forgot-password}" method="post">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required>
    </div>
    <span class="error-message" th:if="${erro}" th:text="${erro}"></span>
    <div class="g-recaptcha"
         data-sitekey="6Le-BQcrAAAAALyZFnAhZjBxnK0o_ta2ilRIAlJw"></div>
    <button type="submit">Enviar link de recuperação</button>
</form>
<a th:href="@{/login}">Voltar para login</a>
</body>
</html>