<div th:fragment="links">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/publico">Publico</a></li>
        <li><a href="/privado">Protegido 1</a></li>
        <li><a href="/privado2">Protegido 2</a></li>
        <li><a href="/perfil">Meu perfil</a></li>
        <li><a href="/logout">Sair</a></li>
    </ul>
    <br>
    <br>
    <br>
    <p th:if="${session.userLogado != null}">Bem-vindo, <span th:text="${session.userLogado.name.split(' ')[0]}"></span>!</p>
</div>