<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Logar</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <style th:replace="~{fragmentErros :: style}"></style>
</head>
<body>
<h1>Login</h1>
<form th:action="@{/login}" method="post" th:object="${loginDTO}">
    <div>
        <label>Email</label>
        <input type="text" th:field="*{email}" id="email"
               th:classappend="${#fields.hasErrors('email')} or (${campoErro} == 'email') ? 'error' : ''">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger error-message"></p>
    </div>
    <div>
        <label>Senha</label>
        <input type="password" th:field="*{password}"
               th:classappend="${#fields.hasErrors('password')} or (${campoErro} == 'password') ? 'error' : ''"/>

        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger error-message"></p>
    </div>
    <div class="error-message">
        <span th:if="${erro}" th:text="${erro}"></span>
        <span th:if="${mensagem}" th:text="${mensagem}"></span>
    </div>
    <div th:if="${recaptchaErros}" class="g-recaptcha"
         data-sitekey="6Le-BQcrAAAAALyZFnAhZjBxnK0o_ta2ilRIAlJw"></div>
    <p th:if="${erroGlobal}" th:text="${erroGlobal}" class="text-danger error-message"></p>
    <button type="submit">Entrar</button>
    <div>
        <a href="/cadastrar">Cadastrar</a>
        <a th:href="@{/forgot-password}">Esqueci minha senha</a>
    </div>
</form>
<div>
    <a th:href="@{/oauth2/authorization/google}">Entrar com Google</a>
</div>
<div th:replace="~{fragmentLinks :: links}"></div>
</body>
<script th:replace="~{fragmentErros :: inputErro}"></script>
</html>