<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redefinir senha</title>
    <style th:replace="~{fragmentErros :: style}"></style>
</head>
<body>
<h1>Redefinir senha</h1>
<form th:action="@{/reset-password}" method="post" th:object="${passwordDTO}">
    <input type="hidden" name="token" th:value="${token}">
    <div>
        <label for="password">Nova senha</label>
        <input type="password" id="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')} ? 'error'">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger error-message"></p>
    </div>
    <div>
        <label for="confirmPassword">Confirmar nova senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword" th:classappend="${#fields.hasErrors('confirmPassword')} ? 'error'">
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger error-message"></p>
    </div>
    <span class="error-message" th:if="${erro}" th:text="${erro}"></span>
    <button type="submit">Redefinir senha</button>
</form>
</body>
<script th:replace="~{fragmentErros :: inputErro}"></script>
</html>