<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Redefinir senha</title>
    <style>
        .error-message{
            color: red;
        }
    </style>
</head>
<body>
<h1>Redefinir senha</h1>
<form th:action="@{/reset-password}" method="post">
    <input type="hidden" name="token" th:value="${token}">
    <div>
        <label for="password">Nova senha</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="confirmPassword">Confirmar nova senha</label>
        <input type="password" id="confirmPassword" name="confirmPassword" required>
    </div>
    <span class="error-message" th:if="${erro}" th:text="${erro}"></span>
    <button type="submit">Redefinir senha</button>
</form>
</body>
</html>